.max_w_1000px {
    max-width: 1000px !important;
}

.w_32px {
    width: 32px;
}

.card_1 {
    max-width: 324px;
    border: 1px solid transparent;
    border-radius: 20px;
    min-height: 424px;
    transition: all linear 300ms;
    cursor: pointer;
}

.card_1:hover {
    box-shadow: 0px 10px 10px 0px rgb(221, 221, 221);
}

.btn_2 {
    background: transparent;
    padding: 16px 56px;
    border: none;
    border-radius: 56px;
    border: 2px solid #0A2640;
    height: 60px;
    transition: all linear 250ms;
}

.btn_2:hover {
    background-color: #0A2640;
    color: white;
}

@media (min-width:992px) {
    .mt_80px {
        margin-top: 80px !important;
    }

    .my_96px {
        margin-top: 96px !important;
        margin-bottom: 96px !important;
    }
}

@media (max-width:992px) {
    .card_1 {
        min-height: 375px;
    }

    .my_96px {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
}

@media (max-width:768px) {
    .my_96px {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }
}

@media (max-width:576px) {
    .my_96px {
        margin-top: 48px !important;
        margin-bottom: 48px !important;
    }
}